<launch>
        <!-- LAUNCH INTERFACE -->

        
        <!-- LAUNCH IMPLEMENTATION -->
        <!-- remember to set the parameters properly -->

		<!-- Load .yaml configuration files on the param server -->
		<include file="$(find dual_manipulation_shared)/launch/dual_manipulation.launch"/>

		<node name="dual_manipulation_ik_control" pkg="dual_manipulation_ik_control" type="dual_manipulation_ik_control" respawn="false" output="screen"/> 

</launch>